@use "../abstracts/variables";

/*Sökknapp*/
#searchbtn {
    padding: 0.3rem;
    width: 15%;
    background-color: variables.$color-button;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 1.5px 0.5px black;
}
