@use "../abstracts/variables";

#searchresults {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;

}

/*Game card för topspelen*/
.topgamecard{
    width: 20%;
    background-color: variables.$color-dark-textbg;
    padding: 1rem;
    margin-bottom: 1rem;

    img {
        width: 100%;
        height: auto;
        max-height: 130px;
    }
}

/*Game card. i sökresultat*/
.gamecard {
    width: 20%;
    background-color: variables.$color-dark-textbg;
    padding: 1rem;
    margin-bottom: 1rem;

    img {
        width: 100%;
        height: auto;
        max-height: 130px;
    }
}

/*Info card. utökad info när man går inte på ett spel*/

#gamesummary{
    width: 90%;
}

.infocard{
    width: 50%;

    img{
        width: 100%;
    }
}