@use "../abstracts/variables";

#searchresults {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;

}

#topgames {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}

/*Game card för topspelen*/
.topgamecard {
    width: 100%;
    max-width: 300px;
    background-color: variables.$color-dark-textbg;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;

    img {
        width: 100%;
        height: 12rem;
        object-fit: cover;
        border-radius: 3px;
    }

}

/*Game card. i sökresultat*/
.gamecard {
    width: 20%;
    background-color: variables.$color-dark-textbg;
    padding: 1rem;
    margin-bottom: 1rem;

    img {
        width: 100%;
        height: auto;
        max-height: 130px;
    }
}

/*Info card. utökad info när man går inte på ett spel*/

#gamesummary {
    width: 90%;
}

.infocard {
    width: 50%;

    img {
        width: 100%;
    }
}