@media (max-width: 600px) {

    /*Sidolayout*/
    .pagewrapper {
        width: 100%;
    }

    /*Header*/
    header {
        display: flex;
        justify-content: left;
        flex-direction: column;
        margin: 0;

        .about {
            font-size: 1.5rem;
            margin-top: 0rem;
            padding-bottom: 1rem;
        }

        h1 {
            font-size: 2rem;
        }

        .tagline {
            font-size: 1rem;
        }

    }

    /*Sökruta. input + knapp*/
    .searchwrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 0rem;
        padding-bottom: 4rem;
    }

    /*Sök - Inputfält*/
    #searchinput {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 0.7rem;
    }

    /*Sök- knapp*/
    #searchbtn {
        width: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-top: 0.5rem;
    }

    /*Felmeddelande vid sök*/
    #searchmessage {
        margin-bottom: 1rem;
    }

    /*Tillbaka-knapp i inforamtionsruta*/
    .backbtn {
        width: 20%;
        height: 2.5rem;
    }


    /*Top 3 spel*/
    #topgames {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    /*Sökresultaten*/
    #serchresult {
        flex-direction: column;
    }

    /*Footer*/
    footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

}