/*HEADER OCH NAVIGATION*/

header {
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 4rem;
}

h1 {
    font-size: 3rem;
}


.sitelogo {
    margin-bottom: 1rem;
}