/*
  outline: 1px solid red; 
*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html{
    background-color: rgb(12, 11, 11);
}

body{
    max-width: 1700px;
    margin: 0 auto;
}

main{
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
}

.pagewrapper {
width: 90%;
max-width: 1200px;
margin: 0 auto;
padding-top: 3rem;

h1{
    text-align: center;
}

.searchwrap {
    margin: 0 auto;
}
}