@use "../abstracts/variables";

/*HUVUDLAYOUT FÖR SIDAN I DESKTOP-LÄGE*/

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    background-color: variables.$color-mainbg;
}

body {
    max-width: 1700px;
    margin: 0 auto;
}

main {
    width: 100%;
    min-height: 100vh;
}

/*Wrapper för innehållet inom main*/
.pagewrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3rem;


    /*Rubriker till topspel och sökresultat (visas efter villkor i js)*/
    #toptitle,
    #searchtitle {
        display: none;
    }

    /*Sökfunktionen*/
    .searchwrap {
        margin: 0 auto;
    }
}

/*Footer med info om ägare av data*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    padding-top: 3rem;

    div {
        max-width: 40ch;
        font-style: italic;
        font-size: 0.9rem;
        padding-right: 2rem;
        padding-left: 1rem;
    }

    .footer1 {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .footer2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

}